<!DOCTYPE html>
<html>
<head>
  <title>Fc progress state machine</title>
  <%= stylesheet_link_tag    "fc_progress_state_machine/application", media: "all" %>
  <%= javascript_include_tag "fc_progress_state_machine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
